<mat-toolbar color="primary">
    Angular Material {{version}}
    
</mat-toolbar>
<div class="left">
    <form>
        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="errorMatcher" class="big-dog">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is
                <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <div></div>
    </form>
</div>